
.section {
    /* the important one*/
    background-attachment: fixed; 
 
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    color: aqua;
}

#section1 {
    background-color: black;
}
#section2 {
    background-color: gray;
}
#section3 {
    background-color: green;
}